@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-primary-800 text-accent-50 min-h-screen antialiased;
}

#root {
  @apply min-h-screen;
}
